@import "../variables";
@import "../button";

@mixin group-info-children-pad(){
  padding: 5px 5px 0 5px;
}

.huddle-main-container{
  display: flex;
  margin-left: 10px;
  .huddle-container {
    width: 535px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: content-box;
    padding: 10px;
    .title {
      padding: 10px;
    }
    .day-time-container, .location-container {
      display: flex;
      align-items: baseline;
      padding: 0 20px;
      i {
        color: #bbb;
      }
      h2 {
        font-size: 21px;
      }
      h3 {
        font-size: 17px;
      }
    }
    .day-time-inner, .location-inner {
      padding: 0 10px;
    }
    .time {
      font-weight: normal;
    }
    .description {
      padding: 10px;
      font-size: 18px;
      font-weight: normal;
    }

    .location-map {
      padding: 10px 10px;
    }
  }

  .huddle-members-container {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 180px;
    box-sizing: border-box;
    padding: 15px;
    h2 {
      font-size: 20px;
    }
    .huddle-members-btn-container {
      display: flex;
      justify-content: center;
      padding: 5px 0 10px;
      a {
        @include meetup-button;
        @include blue-button;
        width: 100px;
        margin-left: 0;
      }
    }
    .huddle-members-inner {
      border-top: 1px solid #ccc;
      padding: 10px 0;
    }
    .member-container {
      display: flex;
      padding: 10px 0;
      img {
        width: 30px;
        height: 30px;
      }
      h4 {
        margin-left: 5px;
      }
    }
  }
}
