@import "../variables";

.group-item-container{
  width: 350px;
  padding: 10px;
  
}

.group-item-image {
  display: block;
  position: relative;
  max-width: 350px;
  height: 200px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  .group-item-img {
    width: 350px;
    height: 200px;
    object-fit: cover;
  }
}

.group-item-name {
  position: absolute;
  bottom: 20px;
  left: 2%;
  text-decoration: none;
  color: black;
  font-size: 21px;
}

.group-item-number {
  position: absolute;
  bottom: 0;
  left: 2%;
  text-decoration: none;
  color: black;
  font-size: 19px;
}
