@import "../variables";

.group-item-container{
  width: 350px;
  padding: 10px;
}

.group-item-image {
  display: block;
  position: relative;
  max-width: 350px;
  height: 200px;
  border: 1px solid $meetup-red;
}

.group-item-name {
  position: absolute;
  bottom: 0;
  left: 2%;
  text-decoration: none;
  color: black;
  font-size: 21px;
}
