@import "../variables";

.group-item-container{
  width: 25%;
}

.group-item-image {
  display: block;
  position: relative;
  width: 100%;
  height: 125px;
  border: 1px solid $meetup-red;
}

.group-item-name {
  position: absolute;
  bottom: 0;
  left: 2%;
  text-decoration: none;
  color: black;
}
