@import "../variables";

.category-poster {
  width: 100%;
  height: 350px;
  background-color: $meetup-gray;
  .category-poster-inner {
    width: 70%;
    box-sizing: border-box;
    padding: 20px 0;
    margin: 0 auto;
    h1 {
      font-size: 40px;
      color: black;
    }
  }
}

.category-groups-container{
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
