@import "../variables";
@import "../button";

$top-margin: 25px 0 0 0;
$uniform-width: 70%;

.main-container-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $meetup-gray;
}

.categories-container {
  width: $uniform-width;
  margin: $top-margin;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.categories-heading {
  display: block;
  width: $uniform-width;
  margin: $top-margin;
  font-family: $meetup-font;
  text-align: center;
}

.category-container {
  margin: $top-margin;
}

.categories-images {
  display: block;
  width: 225px;
  height: 100px;
  border: 1px solid $meetup-red-dark;
}

.categories-link {
  text-decoration: none;
  color: black;
}

.categories-video-cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}


.categories-video-cover-btn {
  @include meetup-button;
  @include red-button;
  margin: $top-margin;
}

.categories-video-container {
  position: absolute;
  bottom: 40%;
  right: 0%;
  z-index: -10;
}
