@import "../variables";

.category-poster {
  width: 100%;
  height: 350px;
  position: relative;
  .category-poster-img {
    object-fit: cover;
    width: 100%;
    max-height: 350px;
    filter: brightness(0.7);
  }
  .category-poster-inner {
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    box-sizing: border-box;
    padding: 20px 0;
    margin: 0 auto;
    h1 {
      font-size: 44px;
      color: white;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.54);
    }
  }
}

.category-groups-container{
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
