@import "../variables";
@import "../button";

$top-margin: 25px 0 0 0;
$uniform-width: 70%;

.main-container-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $meetup-gray;
}

.categories-container {
  max-width: 1200px;
  padding: 20px 50px 0 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 1378px) {
  .categories-container {
    max-width: 1200px;
    padding: 20px 50px 0 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

}

.categories-heading {
  display: block;
  width: $uniform-width;
  margin: $top-margin;
  font-family: $meetup-font;
  font-size: 40px;
  text-align: center;
}

.category-container {
  margin: 10px;
}

.category-container:after {
  content: "";
  flex: auto;
}


.image {
  max-height: 175px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.image:hover {
  transform: scale(1.025);
}

.categories-names {
  font-size: 22px;
}
.categories-link {
  text-decoration: none;
  color: black;
}

.categories-video-cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 380px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  h1 {
    font-size: 42px;
    text-align: center;
  }
}


.categories-video-cover-btn {
  @include meetup-button;
  @include red-button;
  margin: $top-margin;
}

.categories-video-container {
  position: absolute;
  bottom: 43%;
  right: 0%;
  z-index: -10;
}

@media screen and (max-width: 1378px) {
  .categories-video-container {
    bottom: 49%;
  }
}

@media screen and (max-width: 860px) {
  .categories-video-container {
    video {
      display: none;
    }
  }
  .categories-video-cover{
    height: 350px;
    width: 100%;
    background-image: url("https://s3.amazonaws.com/huddle-application-dev/static_video/videoposter.png");
    background-size: cover;
  }
}
