@import 'variables';

@mixin meetup-button (){
  display: block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-family: $meetup-font;
  margin: 0 8px;
  padding: 8px 16px;
  cursor: pointer;
}

@mixin red-button (){
  background-color: $meetup-red;
  transition: filter 0.2s ease;
  &:hover{
    background-color: $meetup-red-dark;
  }
  color: white;
}

@mixin blue-button (){
  background-color: $facebook-blue;
  transition: filter 0.2s ease;
  &:hover{
    background-color: $facebook-blue-light;
  }
  color: white;
}
