@import "./variables";

.notification-area {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in;
}

.notification-area-active {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $meetup-dark-gray;
  h3 {
    padding: 10px 0;
  }
}
