$meetup-font: 'nimbus-sans', sans-serif;
$gray-border: rgb(232, 232, 232);
$meetup-red: rgb(218, 52, 52);
$meetup-red-dark: rgb(194, 0, 0);
$meetup-gray: rgb(250, 250, 250);
$facebook-blue: rgb(59, 89, 152);
