$meetup-font: 'aktiv-grotesk', sans-serif;
$gray-border: rgb(232, 232, 232);
$meetup-red: rgb(237, 28, 64);
$meetup-red-light: rgb(235, 118, 138);
$meetup-red-dark: rgb(207, 25, 56);
$meetup-gray: rgb(250, 250, 250);
$facebook-blue: rgb(59, 89, 152);
