<!DOCTYPE html>
<html>
  <head>
    <title>Huddle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.typekit.net/elk1yzg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
